* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 5px;
    width: 50%;
}

nav {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header nav a {
    width: 25%;
    text-align: center;
    border-radius: 5px 5px;
}

.links {
    color: white;
    font-size: 20px;
    font-weight: 800;
}

header nav a:hover {
    background: white;
    color: black;
    text-shadow: none;
}

/* images */
#back-image {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1), transparent),
        url("./images/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

#port-image {
    height: 50%;
    width: 100%;
    border: 2px solid white;
    text-align: end;
    color: white;
    background-color: orange;
}

/* about me section */
#about-me > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 8%;
}

#about-me > article {
    flex: 0 0 75%;
}

#about-me p {
    font-size: 20px;
}

#about-me {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

/* work */
#work > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 12%;
}

#work > div {
    height: 100%;
}

#work > div {
    flex: 0 0 75%;
}

#work {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.flexContainer {
    margin: 3px 3px;
    padding: 2px 2px;
    height: 800px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workFlex {
    margin: 2px 2px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 5px;
    align-items: flex-start;
    border: 2px solid white;
}

.runBuddy {
    background-image: url(./images/hero-bg.jpg);
    height: 400px;
    width: 100%;
}

.faceBook {
    background-image: url(./images/MAmPaLt.jpeg);
    height: 200px;
    width: 50%;
}

/* footer */
#contact > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 4%;
}

#contact {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

#contact > nav {
    flex: 0 0 75%;
}

#contact {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact > nav > a {
    color: white;
    font-size: large;
}

#contact > nav > a:hover {
    background: white;
    color: black;
    border-radius: 5px 5px;
    font-size: large;
}

/* media queries */
/* media queries for small desktop screens and smaller devices*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header > h1 {
        width: 100%;
        text-align: center;
    }

    header > nav > a {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header > nav > a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .ste-txt {
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }
    
    .intro p {
        width: 100%;
    }
    
    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}

