* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 5px;
    width: 50%;
}

nav {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header nav a {
    width: 25%;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.links {
    color: white;
    font-size: 20px;
    font-weight: 800;
}

header nav a:hover {
    background: white;
    color: black;
    text-shadow: none;
}

/* images */
#back-image {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1), transparent),
        url("./images/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

#port-image {
    height: 40%;
    width: 100%;
    border: 2px solid white;
    text-align: end;
    color: white;
    background-color: orange;
}

/* about me section */
#about-me > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 8%;
}

#about-me > article {
    flex: 0 0 75%;
}

#about-me p {
    font-size: 20px;
}

#about-me {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

/* work */
#work > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 8%;
}

#work > div {
    background-color: lightblue;
    height: 100%;
}

#work > div {
    flex: 0 0 75%;
    background-color: lightgreen;
}

#work {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

/* footer */

#contact > h2 {
    text-align: right;
    border-right: 2px solid orange;
    padding-left: 8%;
}

#contact {
    width: 100%;
    padding: 5px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

#contact > nav {
    flex: 0 0 75%;
}

#contact {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact > nav > a {
    color: white;
    font-size: large;
    text-decoration: none;
    border-bottom: 4px solid white;
}


